<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Ben Cull | Software Development Manager</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/bundles/css/site")
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <p class="site-title">
                            <a href="@Url.Action("Index", "Home")"><strong>BenCull</strong>.com</a>
                        </p>
                    </div>
@*                    <div class="span6">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                        <nav>
                            <ul id="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </nav>
                    </div>*@
                </div>
            </div>
        </header>
        <div id="body">
            <div class="container">
                <section class="row">
                    <div class="span12">
                        @RenderBody()
                    </div>
                </section>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <p>&copy; @DateTime.Now.Year - Ben Cull</p>
                    </div>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/js/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
